<html>
	<head>
		<title>Courses</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script>
		$(document).ready(function(){
			$('[data-toggle="popover"]').popover({
				placement : 'top',
				trigger : 'hover'
			});
		});
		</script>
		<link rel="stylesheet" href="course1.css" type="text/css">

	</head>
	<body>
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid bg-dark  ">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>                        
			  </button>
			  <a class="navbar-brand" href="#">FIND EDUCATE</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
			  <ul class="nav navbar-nav">
				<li><a href="#">Home</a></li>
				<li class="active"><a href="#">Courses</a></li>
				<li style="z-index:1;"><a href="#">Affiliate</a></li>
				<li style="z-index:1;"><a href="#">About</a></li>
				<li style="z-index:1;"><a href="#">Contact</a></li>
			  </ul>
			  <ul class="nav navbar-nav navbar-right">
				<li style="z-index:1;"><a href="#"><span class="glyphicon glyphicon-user"></span>User</a></li>
				<li style="z-index:1;"><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
			  </ul>
			</div>
		</div>
		</nav>
		<div class="container-fluid mid-bar">
			<p style="position:relative; bottom:10px;">COURSES</p>
		</div>
		<ol class=" breadcrumb-up breadcrumb">
		  <li class="breadcrumb-item"><a href="#">Home</a></li>
		  <li class="breadcrumb-item active">Courses</li>
		</ol>
		<div class="card-deck">
			<div class=" card-text card-br card-bg container" >
			  <h2 style="font-weight:500;">Maths</h2>
			  <div class="card" style="width:300px;">
				<div class="card-footup card-header">Linear Algebra</div>
				<div class="card-body"><img src="courses.jpg" style="width:100%; height:50%;"></div>
				<div class="card-footup card-footer">
					<p>Author:</p>
					<div style="position:relative; bottom:10px;"><button type="button" class="btn btn-primary" data-toggle="popover" title="Description" data-content="Default popover 1234ffidvhudhduh">Description</button>
					<a style="background-color:#2E377B;" href="#" class="btn btn-primary">Go to Course</a></div>
				</div>
			  </div>
			</div>
			<div class="card-text card-br card-bg container">
			  <h2 style="font-weight:500;">Maths</h2>
			  <div class="card" style="width:300px;">
				<div class="card-footup card-header">Linear Algebra</div>
				<div class="card-body"><img src="courses.jpg" style="width:100%; height:50%;"></div>
				<div class="card-footup card-footer">
					<p>Author:</p>
					<div style="position:relative; bottom:10px;"><button type="button" class="btn btn-primary" data-toggle="popover" title="Description" data-content="Default popover 1234ffidvhudhduh">Description</button>
					<a style="background-color:#2E377B;" href="#" class="btn btn-primary">Go to Course</a></div>
				</div>
			  </div>
			</div>
			<div class="card-text card-br card-bg container">
			  <h2 style="font-weight:500;">Maths</h2>
			  <div class="card" style="width:300px;">
				<div class="card-footup card-header">Linear Algebra</div>
				<div class="card-body"><img src="courses.jpg" alt="Card image" style="width:100%; height:50%;"></div> 
				<div class="card-footup card-footer">
					<p>Author:</p>
					<div style="position:relative; bottom:10px;"><button type="button" class="btn btn-primary" data-toggle="popover" title="Description" data-content="Default popover 1234ffidvhudhduh">Description</button>
					<a style="background-color:#2E377B;" href="#" class="btn btn-primary">Go to Course</a></div>
				</div>
			  </div>
			</div>
			<div class="card-text card-br card-bg container">
			  <h2 style="font-weight:500;">Maths</h2>
			  <div class="card" style="width:300px;">
				<div class=" card-footup card-header">Linear Algebra</div>
				<div class="card-body"><img src="courses.jpg" style="width:100%; height:50%;"></div> 
				<div class="card-footup card-footer">
					<p>Author:</p>
					<div style="position:relative; bottom:10px;"><button type="button" class="btn btn-primary" data-toggle="popover" title="Description" data-content="Default popover 1234ffidvhudhduh">Description</button>
					<a style="background-color:#2E377B;" href="#" class="btn btn-primary">Go to Course</a></div>
				</div>
			  </div>
			</div>
		</div>

		
		
	
	






	</body>






</html>
