{% extends 'base.html' %}
{% load static %}

{% block content %}

<link href="{% static "css/about.css" %}" rel="stylesheet"/>
<script src= "{% static "js/about.js" %}" type="text/javascript" ></script>



  <!-- About core css -->
 
 

  <body>

    <!-- ======= Header ======= -->
   
  
    <main id="main">
      <!-- ======= Breadcrumbs ======= -->
      <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
          <h2>About Us</h2>
          <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p>
        </div>
      </div><!-- End Breadcrumbs -->
  
      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
  
          <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
              <img src="{% static "assets/img/about.jpg" %}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
              <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
              <p class="font-italic">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.
              </p>
              <ul>
                <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                <li><i class="icofont-check-circled"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
              </ul>
              <p>
                Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              </p>
  
            </div>
          </div>
  
        </div>
      </section><!-- End About Section -->
  
      <!-- ======= Counts Section ======= -->
   
<section class="testimonial-section2">
  <div class="row text-center">
            <div class="col-12">
               <div class="h2">Testimonial</div>
            </div>
         </div>
        <div id="testim" class="testim">
 
 <!--         <div class="testim-cover"> -->
             <div class="wrap">
 
                 <span id="right-arrow" class="arrow right fa fa-chevron-right"></span>
                 <span id="left-arrow" class="arrow left fa fa-chevron-left "></span>
                 <ul id="testim-dots" class="dots">
                     <li class="dot active"></li><!--
                     --><li class="dot"></li><!--
                     --><li class="dot"></li><!--
                     --><li class="dot"></li><!--
                     --><li class="dot"></li>
                 </ul>
                 <div id="testim-content" class="cont">                    
                     <div class="active">
                         <div class="img"><img src="https://image.ibb.co/hgy1M7/5a6f718346a28820008b4611_750_562.jpg" alt=""></div>
                         <div class="h4">Kellie</div>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>                    
                     </div>
 
                     <div>
                         <div class="img"><img src="https://image.ibb.co/cNP817/pexels_photo_220453.jpg" alt=""></div>
                         <div class="h4">Jessica</div>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>                    
                     </div>
 
                     <div>
                         <div class="img"><img src="https://image.ibb.co/iN3qES/pexels_photo_324658.jpg" alt=""></div>
                          <div class="h4">Kellie</div>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>                    
                     </div>
 
                     <div>
                         <div class="img"><img src="https://image.ibb.co/kL6AES/Top_SA_Nicky_Oppenheimer.jpg" alt=""></div>
                         <div class="h4">Jessica</div>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>                    
                     </div>
 
                     <div>
                         <div class="img"><img src="https://image.ibb.co/gUPag7/image.jpg" alt=""></div>
                         <div class="h4">Kellie</div>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>                    
                     </div>
 
                 </div>
                  </div>
             </div>
 <!--         </div> -->
     </section>
     
 <script src="https://use.fontawesome.com/1744f3f671.js"></script>
 
  
    </main><!-- End #main -->
  
    <!-- ======= Footer ======= -->




{% endblock %}